{% include 'header.html' %}

      <a href="{{ links.month_to_last_year}}"><img src="{{ vars.iconpath }}/arrow-bar-left.svg"></a>
      {{ vars.year}}
      <a href="{{ links.month_to_next_year}}"><img src="{{ vars.iconpath }}/arrow-bar-right.svg"></a>
      /
      <a href="{{ links.month_to_last_month}}"><img src="{{ vars.iconpath }}/arrow-bar-left.svg"></a>
      {{ vars.month_name}}
      <a href="{{ links.month_to_next_month}}"><img src="{{ vars.iconpath }}/arrow-bar-right.svg"></a>
    </p>
    <nav class="my-2 my-md-0 me-md-3">
      <a class="p-2 text-dark" target="_blub" href="https://github.com/planto-systems">Github</a>
    </nav>
    <a class="btn btn-outline-primary" target="_blub" href="https://planto-systems.de/">Planto Systems</a>
  </header>

  <main class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">{{ vars.month_name}} {{ vars.year}}</h1>
    </div>

    <h2 class="display-4 text-center"> SG 1 (Jalapeños)</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="text-left  ">Date              </th>
          <th class="text-center">Temperature Air   </th>
          <th class="text-center">Humidity          </th>
          <th class="text-center">Temperature Water </th>
          <th class="text-center">Image             </th>
          <th class="text-center">Timelapse         </th>
        </tr>
      </thead>

      <tbody>

        {% for d in monthinfo_sg1 %}

        <tr>
          <td class="align-middle">             {{ d.day}}.                        </td>
          <td class="text-center align-middle">            Comming soon               </td>
          <td class="text-center align-middle">            Comming soon               </td>
          <td class="text-center align-middle">            Comming soon               </td>

          <td class="text-center align-middle"> 
            <a href="{{ d.image }}" target="_blub">
              <img src="{{ d.image }}" alt="image" width=200 class="img-thumbnail">
            </a>
          </td>

          <td class="text-center align-middle"> <a href="{{ d.video }}" target="_blub">
            <img src="{{ d.gif }}" alt="video" width=200 class="img-thumbnail"></a>
          </td>

        {% endfor %}

      </tbody>
    </table>







    <h2 class="display-4 text-center"> SG 2 (Mentha)</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="text-left  ">Date              </th>
            <th class="text-center">Temperature Air   </th>
            <th class="text-center">Humidity          </th>
            <th class="text-center">Temperature Water </th>
            <th class="text-center">Image             </th>
            <th class="text-center">Timelapse         </th>
          </tr>
        </thead>
  
        <tbody>
  
          {% for d in monthinfo_sg2 %}
  
          <tr>
            <td class="align-middle">             {{ d.day}}.                        </td>
            <td class="text-center align-middle">            Comming soon               </td>
            <td class="text-center align-middle">            Comming soon               </td>
            <td class="text-center align-middle">            Comming soon               </td>
  
            <td class="text-center align-middle"> 
              <a href="{{ d.image }}" target="_blub">
                <img src="{{ d.image }}" alt="image" width=200 class="img-thumbnail">
              </a>
            </td>
  
            <td class="text-center align-middle"> <a href="{{ d.video }}" target="_blub">
              <img src="{{ d.gif }}" alt="video" width=200 class="img-thumbnail"></a>
            </td>
  
  
          {% endfor %}
  
        </tbody>
      </table>
  
  






    {% include "footer.html" %} 
